@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  height: 100vh;
  background-color: #E1D7BD;
}

header .heroplant1 {
  position: absolute;
  width: 80vw;
  left: 0;
  z-index: 0;
  -webkit-animation-name: movingleave;
          animation-name: movingleave;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes movingleave {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  50% {
    -webkit-transform: translate(1%, 1%);
            transform: translate(1%, 1%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes movingleave {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  50% {
    -webkit-transform: translate(1%, 1%);
            transform: translate(1%, 1%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

header .heroplant2 {
  position: absolute;
  width: 32vw;
  right: 0;
  bottom: 0;
  z-index: 3;
  -webkit-animation-name: movingleave2;
          animation-name: movingleave2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes movingleave2 {
  0% {
    -webkit-transform: translate(200%, 200%);
            transform: translate(200%, 200%);
  }
  50% {
    -webkit-transform: translate(-1%, -1%);
            transform: translate(-1%, -1%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes movingleave2 {
  0% {
    -webkit-transform: translate(200%, 200%);
            transform: translate(200%, 200%);
  }
  50% {
    -webkit-transform: translate(-1%, -1%);
            transform: translate(-1%, -1%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colunmn;
          flex-direction: colunmn;
  height: 100vh;
  width: 100vw;
}

header .heading .front {
  top: 50vh;
  z-index: 3;
  border: white solid 5vh;
}

header .heading .back {
  top: 25vh;
  z-index: 2;
}

header .heading h1 {
  position: absolute;
  color: white;
  font-size: 30vh;
  font-weight: 600;
  line-height: 0.9;
}

nav {
  display: block;
  width: 100vw;
  padding: 2vh 2vw;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

nav .mobilenav {
  display: none;
}

nav .searchresult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .searchresult .singlesearch {
  height: 20vh;
  width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vh 1vw;
}

nav .searchresult .singlesearch img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .searchresult .singlesearch a {
  position: absolute;
  padding: auto;
  background-color: #158466;
  min-width: 10vw;
  min-height: 40px;
  color: white;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

nav ul li {
  margin: 0 2.5vw;
  padding: 5px;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul #search {
  border: none;
  border-bottom: 2px solid grey;
}

nav ul #search:before {
  content: "a";
}

nav ul #search:focus, nav ul #search:hover, nav ul #search:active {
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
}

nav ul .nohover:hover {
  background-color: white;
  color: black;
}

nav ul .fa {
  margin-right: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 30;
  border-bottom: green solid 1px;
}

section {
  position: absolute;
  width: 100vw;
  z-index: 3;
}

section h1.title {
  margin: 15vh 5vw 2vh 5vw;
  font-size: 10vh;
  border-bottom: 1.5vh solid #065446;
  display: inline-block;
  color: #065446;
}

section .grid-container {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31.75vw 31.75vw 31.75vw;
      grid-template-columns: 31.75vw 31.75vw 31.75vw;
  grid-gap: 1vw;
  padding: 1vh 1vw;
}

section .grid-container .item {
  height: 28vh;
  background-color: #158466;
  text-align: center;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

section .grid-container .item #map {
  height: 100%;
  width: 100%;
}

section .grid-container .item h1 {
  position: absolute;
  background-color: #158466;
  color: white;
  padding: 1vh 2vw;
  font-size: 3vh;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

section .grid-container .item h1 a {
  text-decoration: none;
  color: inherit;
}

section .grid-container .item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

section .grid-container .item1 {
  height: 58vh;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

section .grid-container .item1:hover h1 {
  display: none !important;
}

section .grid-container .item5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .grid-container .item5:hover h1 {
  background-color: #158466 !important;
  opacity: 1;
}

section .grid-container .item5 button {
  z-index: 1;
  color: white;
  font-size: 3vh;
  margin: 0 .5vw;
  padding: 0 1vw;
  border-radius: 50px;
  background-color: #106952;
  position: relative;
  cursor: pointer;
  border: 3px solid white;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

section .grid-container .item5 button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #1bb38a;
}

section .grid-container .item5 button:active {
  opacity: 1;
  -webkit-box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

section .grid-container .item5 button:focus {
  outline: none;
}

section .grid-container .item5 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

section .grid-container div:hover {
  cursor: pointer;
}

section .grid-container div:hover h1 {
  color: white;
  background-color: #1bb38a;
}

section .grid-container div:hover img {
  opacity: 1;
}

section .product-container {
  display: -ms-grid;
  display: grid;
  padding: 5vh 4vw;
  -ms-grid-columns: 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw;
      grid-template-columns: 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw;
}

section .product-container .product {
  margin: 2vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-margin-top: 30vh;
}

section .product-container .product .category {
  text-transform: uppercase;
}

section .product-container .product img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 16vw;
}

section .product-container .product h1 {
  margin: 1vh 0 0 0;
  color: black;
  font-size: 2vh;
}

section .product-container .product p, section .product-container .product a {
  color: black;
}

section .product-container .product .discount {
  position: relative;
  right: 0;
  top: -6vh;
  background-color: #d81515;
  color: white;
  font-weight: 900;
  padding: 10px;
  float: right;
}

section .product-container .product .notavailable {
  position: absolute;
  background-color: #158466;
  padding: 1vh 1vw;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

section .product-container .product .cheaper {
  color: grey;
  text-decoration: line-through;
}

section .about {
  padding: 5vh 5vw;
}

section .about p {
  font-size: 2vh;
}

footer {
  position: relative;
  margin-top: 30vh;
  height: 10vh;
  bottom: 0;
}

footer h1 {
  text-align: center;
  font-weight: 200;
  font-size: 2vh;
  font-weight: 300;
  position: relative;
  z-index: 11;
}

.plant {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.plant2 {
  position: relative;
  float: right;
  margin-top: -10vh;
  bottom: 0;
  right: 0;
  width: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: absolute !important;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 4vh;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: #158466;
  background-color: #158466;
  height: 5vh;
}

.modal-body {
  min-height: 40vh;
}

.modal-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
}

.modal-body div a {
  font-size: 2em;
}

.modal-body div button {
  width: 30vw;
  padding: 2vh 2vw;
  background-color: #158466;
  color: white;
  margin: 2vh 2vw;
  font-size: 1em;
  border-radius: 50px;
}

.modal-body div button:hover {
  cursor: pointer;
  background-color: #147e62;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #158466;
  color: white;
}

iframe {
  width: 98vw;
  height: 60vh;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1300px) {
  body .plant2 {
    margin-top: -20vh;
    width: 100vw;
  }
  body .plant {
    width: 100vw;
  }
  body header .front img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 53%;
       object-position: 53%;
  }
  body header .back img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 53%;
       object-position: 53%;
  }
  body header .heroplant1 {
    width: 100vw;
  }
  body header .heroplant2 {
    width: 50vw;
  }
  body header .heading h1 {
    font-size: 10vh;
  }
  body header .heading .front {
    border: white solid 2vh;
    top: 47vh;
    padding: 0 2vw;
  }
  body header .heading .back {
    top: 30vh;
    padding: 0 2vw;
  }
  body nav {
    padding: 0;
  }
  body nav .mobilenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body nav .mobilenav *:hover, body nav .mobilenav *:active {
    background-color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  body nav .fa-bars {
    font-size: 3vh;
    color: black;
    margin: 0 auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  body nav #nav {
    display: none;
    position: absolute;
    top: 5vh;
    border-bottom: green solid 1px;
  }
  body nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    list-style-type: none;
    width: 100%;
    background-color: white;
    z-index: 5;
  }
  body nav ul li {
    color: black;
    background-color: white;
    text-align: right;
    padding: 2vh 5vw;
    background-color: white;
  }
  body nav a {
    color: black;
    text-decoration: none;
    font-size: 2vh;
  }
  body section .product-container {
    display: -ms-grid;
    display: grid;
    padding: 5vh 4vw;
    -ms-grid-columns: 92.5vw;
        grid-template-columns: 92.5vw;
  }
  body section .product-container .product {
    margin: 1vh 1vw;
    padding: 2vh 5vw;
  }
  body section .product-container .product img {
    height: 50vw;
  }
  body section .grid-container {
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
  }
  body section .grid-container .item1 {
    height: 50vh;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
  }
  body section .grid-container .item5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer {
    margin-top: 20vh;
  }
  body footer .parallax4 {
    width: 60vw;
  }
  body footer h1 {
    text-shadow: 4px 4px 4px #ffffff;
  }
}
/*# sourceMappingURL=mainstyle.css.map */