<div class="row no-gutters d-flex justify-content-around h-100 mt-5">

    <div (mouseover)="changeText=true" (mouseout)="changeText=false" class="papa m-2 col-sm-6 col-md-4 col-lg-3 d-flex
            justify-content-lg-around text-white flex-column text-center" [style.filter]="changeText ? 'brightness(85%)' :
            'brightness(100%)'" [style.display]="changeText ? 'none' :
            'block'">

        <h1 [style.display]="changeText ? 'block' :
            'none'">Wedding</h1>
        <h4 [style.display]="changeText ? 'block' :
            'none'">Lovely</h4>
    </div>

    <div (mouseover)="changeText1=true" (mouseout)="changeText1=false" class="papa1 m-2 col-sm-6 col-md-4 col-lg-3 d-flex
            justify-content-lg-around text-white flex-column text-center" [style.filter]="changeText1 ? 'brightness(85%)' :
            'brightness(100%)'" [style.display]="changeText1 ? 'none' :
            'block'">

        <h1 [style.display]="changeText1 ? 'block' :
            'none'">Nature</h1>
        <h4 [style.display]="changeText1 ? 'block' :
            'none'">Stunning</h4>
    </div>
    <div (mouseover)="changeText2=true" (mouseout)="changeText2=false" class="papa2 m-2 col-sm-6 col-md-4 col-lg-3 d-flex
            justify-content-lg-around text-white flex-column text-center" [style.filter]="changeText2 ? 'brightness(85%)' :
            'brightness(100%)'" [style.display]="changeText2 ? 'none' :
            'block'">

        <h1 [style.display]="changeText2 ? 'block' :
            'none'">Act</h1>
        <h4 [style.display]="changeText2 ? 'block' :
            'none'">Sexy</h4>
    </div>
    <div (mouseover)="changeText3=true" (mouseout)="changeText3=false" class="papa3 m-2 col-sm-6 col-md-4 col-lg-3 d-flex
            justify-content-lg-around text-white flex-column text-center" [style.filter]="changeText3 ? 'brightness(85%)' :
            'brightness(100%)'" [style.display]="changeText3 ? 'none' :
            'block'">

        <h1 [style.display]="changeText3 ? 'block' :
            'none'">Children</h1>
        <h4 [style.display]="changeText3 ? 'block' :
            'none'">Happy</h4>
    </div>
    <div (mouseover)="changeText4=true" (mouseout)="changeText4=false" class="papa4 m-2 col-sm-6 col-md-4 col-lg-3 d-flex
            justify-content-lg-around text-white flex-column text-center" [style.filter]="changeText4 ? 'brightness(85%)' :
            'brightness(100%)'" [style.display]="changeText4 ? 'none' :
            'block'">

        <h1 [style.display]="changeText4 ? 'block' :
            'none'">Holiday</h1>
        <h4 [style.display]="changeText4 ? 'block' :
            'none'">Relaxing</h4>
    </div>
    <div (mouseover)="changeText5=true" (mouseout)="changeText5=false" class="papa5 m-2 col-sm-6 col-md-4 col-lg-3 d-flex
            justify-content-lg-around text-white flex-column text-center" [style.filter]="changeText5 ? 'brightness(85%)' :
            'brightness(100%)'" [style.display]="changeText5 ? 'none' :
            'block'">

        <h1 [style.display]="changeText5 ? 'block' :
            'none'">Animals</h1>
        <h4 [style.display]="changeText5 ? 'block' :
            'none'">Meow</h4>
    </div>


</div>


<div class="white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">My Clients</h1>


            </div>
        </div>
    </div>

</div>

<div class="container-fluid">

    <div class="row ">

        <div class="col-12 d-flex client-list flex-wrap p-5">


            <a href="#" target="_blank"><img src="../../assets/img/Toshiba.png" alt="" id="hover"></a>
            <a href="#" target="_blank"><img src="../../assets/img/Gree.png" alt="" id="hover"></a>
            <a href="#" target="_blank"><img src="../../assets/img/Daikin.png" alt="" id="hover"></a>
            <a href="#" target="_blank"><img src="../../assets/img/Samsung.png" alt="" id="hover"></a>

            <a href="#" target="_blank"><img src="../../assets/img/lg.png" alt="" id="hover"></a>
            <a href="#" target="_blank"><img src="../../assets/img/proventus.png" alt="" id="hover"></a>
        </div>
    </div>
</div>