<app-hero></app-hero>
<div class="card" *ngIf="o">
    <div class="row no-gutters">
        <div class="col-md-4 m-auto">

            <img class="img-fluid" src="{{o.image}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{o.destination}}</h5>
                <div class="d-flex align-items-baseline">
                    <p class="card-text col-8 text-justify">{{o.description}}</p>
                    <div class="flex-column col-4 text-right">
                        <p class="card-text"><small class="text-muted">Date: {{o.date}},<br> Duration: {{o.duration}}</small></p>
                        <p class="card-text mb-5 imp">Price: {{o.price}}€</p>
                        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="addToCart(o)">Buy</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>