<app-hero></app-hero>
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="container">
                <h2 class="text-uppercase text-white text-right">Services We Offer</h2>
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#insurance" role="tab" aria-controls="v-pills-home" aria-selected="true">Travel Insurance</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#flights" role="tab" aria-controls="v-pills-profile" aria-selected="false">Flights</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#sightseeing" role="tab" aria-controls="v-pills-messages" aria-selected="false">Sightseeing</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#accomodation" role="tab" aria-controls="v-pills-settings" aria-selected="false">Accomodation</a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content text-white-50 " id="v-pills-tabContent">
                            <div class="tab-pane fade show active text-justify" id="insurance" role="tabpanel" aria-labelledby="v-pills-home-tab">


                                <h3 class="text-right">Travel Insurance</h3>
                                <img src="../assets/img/insurance.jpg" class="img-fluid rounded float-right" alt="">
                                <p>It is strongly recommended that you buy an additional insurance which will cover for all medical treatment and ambulance services including repatriation before travelling abroad. Especially if you should require air ambulance
                                    services, it is essential that you know the limit and validity of your insurance policy. The Federal Ministry for European and International Affairs, however, does not take any responsibility for the quality of the
                                    insurance companies and air ambulances listed as an example on this page.</p>
                            </div>
                            <div class="tab-pane fade text-justify" id="flights" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <h3 class="text-right">Flights</h3>
                                <img src="../assets/img/fly.jpg" class="img-fluid rounded float-right" alt="">
                                <p>Rather than buying separate flights from one destination to another, a flexible and sometimes cheaper way of international travel is via Round the world (RTW) tickets. A round the world ticket is a plane ticket allowing
                                    you to fly around the world, usually over a period of up to a year and with between three and twenty stops at different airports. Computerised e-tickets seem to have reduced this to a maximum of 16 segments. Round the
                                    world tickets usually cost far less than the sum of the one-way tickets between each set of individual stops. (One-way tickets are generally a poor value compared to round-trip tickets, and also may be viewed with suspicion
                                    by security or immigration personnel.) These tickets are usually slightly more expensive than a return ticket between destinations on opposite sides of the world (London and Sydney for example), but if you were planning
                                    two or more stops then you may find that a round the world ticket is the cheapest option, and allows you at least a side trip. </p>
                            </div>
                            <div class="tab-pane fade text-justify" id="sightseeing" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <h3 class="text-right">Sightseeing</h3>
                                <img src="../assets/img/sight.jpg" class="img-fluid rounded float-right" alt="">
                                <p>Places of natural beauty such as beaches, tropical island resorts, national parks, mountains, deserts and forests, are examples of traditional tourist attractions which people may visit. Cultural tourist attractions can
                                    include historical places, monuments, ancient temples, zoos, aquaria, museums and art galleries, botanical gardens, buildings and structures (such as forts, castles, skyscrapers, bridges), theme parks and carnivals,
                                    living history museums, public art, signs, ethnic enclave communities, historic trains, cruise ships, souvenirs, cuisine and cultural events.
                                </p>
                            </div>
                            <div class="tab-pane fade text-justify" id="accomodation" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                <h3 class="text-right">Accommodation</h3>
                                <img src="../assets/img/accomo.jpg" class="img-fluid rounded float-right" alt="">
                                <p>Accommodation is a concern of every traveller, whether looking for a place to pitch a tent or a luxury suite in a fancy resort. Booking accommodation, dealing with the vast array of accommodation options, and considering
                                    alternative lodging options are all issues that travellers face.You can book accommodation online, either at hotel's own web site or at web site of an agency. Depending upon where you are going, this can be extremely
                                    useful. Yet if you are travelling to somewhere a bit more out of the way, for example, a small city or town, you may find something, but there will be accommodation options not listed on the internet. In this situation,
                                    it is better to find accommodation "on the day". While online is increasingly becoming the most common way of booking accommodations, unfortunately the downside is that a credit card is required to process the reservation
                                    so you will be out of luck if you don't have one (sometimes getting a debit or prepaid VISA/Mastercard may work). Moreover, you will need to check the rate being offered if payment is needed immediately or upon arrival/departure.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>