<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h3 class="mx-auto my-0 text-uppercase">Experience The</h3>
            <h1 class="mx-auto my-0 text-uppercase">Best Trip Ever</h1>
            <h2 class="mx-auto mt-2 mb-5">We are committed to offering travel services of the highest quality, combining our energy and enthusiasm with years of experience.</h2>
            <a class="btn btn-primary js-scroll-trigger" routerLink="/contact">Contact us</a>
        </div>
    </div>
</header>