<div class="d-flex justify-content-between m-2">
    <div class="row m-0 row-cols-1 row-cols-md-2 w-100 m-2">
        <div class="col shadow p-2 m-2 rounded">
            <div class="card h-100">
                <img src="../../assets/img/basic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Basic Shooting</h5>
                    <p class="card-text">&#10004; Briefing<br> &#10004; Photo shooting<br> &#10004; Posing instructions<br> &#10004;1 outfit<br> &#10004; Photo selection<br> &#10004; Photo retouching<br> &#10004; 2 photos included<br> &#10004; Duration: 30 minutes.</p>
                    <h4>Price: € 149</h4>
                </div>
            </div>
        </div>
        <div class="col shadow p-2 m-2 rounded">
            <div class="card h-100">
                <img src="../../assets/img/baby.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Baby-Shooting</h5>
                    <p class="card-text">&#10004; Briefing<br> &#10004; Photo shooting<br> &#10004; Posing instructions<br> &#10004; 4 outfits<br> &#10004; Photo selection<br> &#10004; Photo retouching<br> &#10004; 4 photos included<br>&#10004; Duration: 1 hour.</p>
                    <h4>Price: € 299</h4>

                </div>
            </div>
        </div>
        <div class="col shadow p-2 m-2 rounded">
            <div class="card h-100">
                <img src="../../assets/img/man-and-woman-standing-beside-carriage-3204420.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Wedding Shooting</h5>
                    <p class="card-text">&#10004; Briefing<br> &#10004; Photo shooting<br> &#10004; Posing instructions<br> &#10004; 1 outfit<br> &#10004; Photo selection<br> &#10004; Photo retouching<br> &#10004; 5 photos included<br> &#10004; 2 photos printed<br> &#10004;
                        Duration: full day.</p>
                    <h4>Price: € 1490</h4>

                </div>
            </div>
        </div>
        <div class="col shadow p-2 m-2 rounded">
            <div class="card h-100">
                <img src="../../assets/img/paint.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bodypainting Shooting</h5>
                    <p class="card-text">&#10004; Briefing<br> &#10004; Photo shooting<br> &#10004; Posing instructions<br> &#10004; Bodypainting<br> &#10004; 2 outfit<br> &#10004; Photo selection<br> &#10004; Photo retouching<br> &#10004; 2 photos included<br> &#10004; Duration:
                        5 hours.</p>
                    <h4>Price: € 850</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button class="btn btn-md"><a class="link" routerLink="/contact">Contact us</a></button>
</div>