.row {
    width: 100%;
    justify-content: center;
}

.row-cols-md-2>* {
    max-width: 47% !important;
    background-color: #bfaba2;
    div {
        border: none;
    }
}

.card-body {
    background-color: black !important;
    color: #bfaba2;
    h5 {
        font-size: 3vw;
        text-align: right;
    }
    h4 {
        text-align: right;
    }
    p {
        font-size: 1.5vw;
    }
}

.btn {
    background-color: black;
    text-align: center;
    width: 10vw;
    color: white;
    font-size: 2vw;
    margin: 3vw;
    padding: 0.5vw;
}

.btn:hover {
    color: #aa988f;
}

a {
    font-size: 2vw;
    background-color: black;
    color: #bfaba2 !important;
    justify-content: center;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

a:hover {
    color: white !important;
    transition: ease-in-out 0.3s;
}

@media screen and(max-width:564px) {
    .row-cols-md-2>* {
        max-width: 100% !important;
    }
}