<footer>

    <div class="d-flex" style="background-color: black;">
        <a style="cursor: pointer;" (click)="windowScroll()"> - - - Go up - - -</a>
        <h1>&#9400; Patinik Paulke </h1>
        <div>
            <span><img id="sm" src="../../assets/img/twitter.png"></span>
            <span><img id="sm" src="../../assets/img/facebook.png"></span>
            <span><img id="sm" src="../../assets/img/instagram.png"></span>
            <span><img id="sm" src="../../assets/img/youtube.png"></span>
        </div>

    </div>
</footer>