<div class="row">
    <div class="container">
        <h2 class="text-uppercase text-black text-left">About</h2>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active m-1" id="v-pills-home-tab" data-toggle="pill" href="#insurance" role="tab" aria-controls="v-pills-home" aria-selected="true">Education</a>
                    <a class="nav-link m-1" id="v-pills-profile-tab" data-toggle="pill" href="#flights" role="tab" aria-controls="v-pills-profile" aria-selected="false">Experience</a>
                    <a class="nav-link m-1" id="v-pills-messages-tab" data-toggle="pill" href="#sightseeing" role="tab" aria-controls="v-pills-messages" aria-selected="false">Philosophy</a>
                    <a class="nav-link m-1" id="v-pills-settings-tab" data-toggle="pill" href="#accomodation" role="tab" aria-controls="v-pills-settings" aria-selected="false">Work</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content text-black " id="v-pills-tabContent">
                    <div class="tab-pane fade show active text-justify" id="insurance" role="tabpanel" aria-labelledby="v-pills-home-tab">


                        <h3 class="text-right">Education</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis hic molestias omnis cumque non. Commodi quos eligendi maxime laudantium aut debitis consectetur autem, ipsam vitae aperiam cum pariatur, qui corporis! Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendiLorem ipsum dolor sit amet
                            consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendiLorem ipsum dolor sit amet consectetur adipisicing
                            elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi..</p>
                    </div>
                    <div class="tab-pane fade text-justify" id="flights" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h3 class="text-right">Experience</h3>

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste dolorem doloremque delectus, reprehenderit, rem autem cupiditate provident alias adipisci nihil repudiandae voluptatum? Quod facere quasi nisi quam atque, maiores dolore.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi. Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliq Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem
                            iste cupiditate sed officiis, ipsam eaque minima eligendi.uid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi.</p>
                    </div>
                    <div class="tab-pane fade text-justify" id="sightseeing" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h3 class="text-right">Philosophy</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laborum, recusandae, tenetur fuga animi aperiam maiores perferendis nesciunt consectetur sint dolore saepe facilis est aliquam nulla corrupti magni quo aliquid.Lorem
                            ipsum dolor sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi. Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi.
                        </p>
                    </div>
                    <div class="tab-pane fade text-justify" id="accomodation" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h3 class="text-right">Work</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi. Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi.Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi. Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Soluta laboriosam nihil aliquid repudiandae? Quo adipisci nesciunt et quod molestiae ab at rem iste cupiditate sed officiis, ipsam eaque minima eligendi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center p-5">What Clients Say</h1>
<div class="row justify-content-around">
    <div class="card w-25">
        <div class="card-header">
            My favorite photographer!
        </div>
        <div class="card-body p-2">
            <blockquote class="blockquote mb-0 text-center">
                <img src="../../assets/img/client1.jpg" class="rounded-circle w-50 m-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet consectetur adipisicing elit. At adipisci eius, maiores officiis optio distinctio dolorem, praesentium minus iure magnam doloribus.
                    Quas cumque voluptate autem non minus mollitia saepe nam?</p>
                <footer class="blockquote-footer text-right">John <cite title="Source Title"><br>2 months ago</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card w-25">
        <div class="card-header">
            Best photo session ever!
        </div>
        <div class="card-body p-2">
            <blockquote class="blockquote mb-0 text-center">
                <img src="../../assets/img/client2.jpg" class="rounded-circle w-50 m-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet consectetur adipisicing elit. At adipisci eius, maiores officiis optio distinctio dolorem, praesentium minus iure magnam doloribus.
                    Quas cumque voluptate autem non minus mollitia saepe nam?</p>
                <footer class="blockquote-footer text-right">Sara <cite title="Source Title"><br>2 months ago</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card w-25">
        <div class="card-header">
            Awesome!
        </div>
        <div class="card-body p-2">
            <blockquote class="blockquote mb-0 text-center">
                <img src="../../assets/img/client3.jpg" class="rounded-circle w-50 m-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet consectetur adipisicing elit. At adipisci eius, maiores officiis optio distinctio dolorem, praesentium minus iure magnam doloribus.
                    Quas cumque voluptate autem non minus mollitia saepe nam?</p>
                <footer class="blockquote-footer text-right">Gloria <cite title="Source Title"><br>2 months ago</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">My Certificates</h1>
                <p class="card-text">Proud to be at your service with our professional skills. <br>I am powered by Leica and certified Wedding & Portrait Photographers!</p>
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-12 d-flex client-list flex-wrap p-5">


            <a href="#" target="_blank"><img src="https://www.d-pixx.de/wp-content/uploads/2016/02/nikon_schriftzug_750.jpg" alt="" id="hover"></a>
            <a href="#" target="_blank"><img src="https://goodlogo.com/images/logos/leica_logo_2360.gif" alt="" id="hover"></a>
            <a href="#" target="_blank"><img src="https://www.freevector.com/uploads/vector/preview/13787/FreeVector-Pantone.jpg" alt="" id="hover"></a>
            <a href="#" target="_blank"><img src="https://i2.wp.com/wp.stolaf.edu/disco/files/2018/08/adobe-photoshop.jpg?resize=600%2C350&ssl=1" alt="" id="hover"></a>

        </div>
    </div>
</div>